.o-results-summary
  .o-results-summary--counts
    = page_entries_info @view_state.datasets, entry_name: 'dataset'
  = paginate @view_state.datasets, theme: 'cairn'

#results.c-dataset-list.listing
  - @view_state.datasets.each do |dataset|
    %article.item.item--has-meta
      .item__content
        %h3.c-dataset-entry--title
          %a{ href: dataset_path(id: dataset.id)}
            %span.field.field__title
              = dataset.title
        %div
          .field
            %p.c-dataset-entry--date-range
              = summarise_date_range(dataset)
          .field
            %p.c-dataset-entry--description
              = dataset.description
      %footer.item__meta
        = render partial: "keywords_list", locals: {dataset: dataset, show_keywords: true, show_activities: true}

.o-results-summary
  .o-results-summary--counts
    = page_entries_info @view_state.datasets, entry_name: 'dataset'
  = paginate @view_state.datasets, theme: 'cairn'
