%ul#results.c-dataset-list
  - @view_state.datasets.each do |dataset|
    %li.c-dataset-entry
      %h2.c-dataset-entry--title
        %a{ href: dataset_path(id: dataset.id)}
          = dataset.title

      %p.c-dataset-entry--date-range
        = summarise_date_range(dataset)

      %p.c-dataset-entry--description
        = dataset.description

      = render partial: "keywords_list", locals: {dataset: dataset, show_keywords: true, show_activities: true}

.o-results-summary
  .o-results-summary--counts
    = page_entries_info @view_state.datasets, entry_name: 'dataset'
  = paginate @view_state.datasets, theme: 'cairn'
