.layout
  .layout__container
    .layout__content
      %article.peek{'aria-labelledby': 'featured-datasets__heading'}
        .field.field__field_lander_row
          .field.field__field_title
            %h2.field__field_title__item.field__field_title__item--even#featured-datasets__heading
              Featured datasets
            %p
              All of our open datasets are available for you to use for free.

        .field.field__field_content_promo.promo-listing
          .promo-listing__item
            .promo-wrapper
              %a.field__field_content_promo__item.field__field_content_promo__item--even.bg_found{ href: "#{Rails.application.config.relative_url_root}/datasets/38dd8d6a-5ab1-4f50-b753-ab33288e3200" }
                %div{ style: "background-image: url(#{ image_path('datasets/rating-sticker-5.jpg') })", class: "promo__background-image bg_found"}
                .promo__content
                  %h3.field.field__field_title
                    FHRS
                  .field.field__field_intro
                    Food hygiene ratings and API.

          .promo-listing__item
            .promo-wrapper
              %a.field__field_content_promo__item.field__field_content_promo__item--even.bg_found{ href: "#{Rails.application.config.relative_url_root}/datasets/1e61736a-2a1a-4c6a-b8b1-e45912ebc8e3" }
                %div{ style: "background-image: url(#{ image_path('datasets/cattle-inspected.jpg') })", class: "promo__background-image bg_found"}
                .promo__content
                  %h3.field.field__field_title
                    Approved Food Establishments
                  .field.field__field_intro
                    Full list of approved food establishments.

          .promo-listing__item
            .promo-wrapper
              %a.field__field_content_promo__item.field__field_content_promo__item--even.bg_found{ href: "#{Rails.application.config.relative_url_root}/datasets/069c7353-4fdd-4b4f-9c13-ec525753fb2c" }
                %div{ style: "background-image: url(#{ image_path('datasets/production-line-inspected.jpg') })", class: "promo__background-image bg_found"}
                .promo__content
                  %h3.field.field__field_title
                    Local Authority Enforcement Monitoring
                  .field.field__field_intro
                    Summary of Local Authority Enforcement Monitoring System (LAEMS) activity
