.col-wrap
  .c-catalog-preamble.col
    %h1 Food Standards Agency Open Data

.col-wrap
  .col.col--fluid-10.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset.c-featured-dataset--heading
      %h2
        Featured datasets
      %p
        All of our open datasets are available for you to use for free.

.col-wrap
  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#{Rails.application.config.relative_url_root}/datasets/38dd8d6a-5ab1-4f50-b753-ab33288e3200" }
        %img.img-responsive{ src: image_path('datasets/rating-sticker-5.jpg')}
      %h2
        %a{ href: "#{Rails.application.config.relative_url_root}/datasets/38dd8d6a-5ab1-4f50-b753-ab33288e3200" }
          FHRS
      %p
        Food hygiene ratings and API.

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#{Rails.application.config.relative_url_root}/datasets/1e61736a-2a1a-4c6a-b8b1-e45912ebc8e3" }
        %img.img-responsive{ src: image_path('datasets/cattle-inspected.jpg')}
      %h2
        %a{href: "#{Rails.application.config.relative_url_root}/datasets/1e61736a-2a1a-4c6a-b8b1-e45912ebc8e3"}
          Approved Premises
      %p
        Local Authority approved food businesses

  .col.col--fluid-5.home-campaign-tile.home-campaign-tile--img-first
    %article.c-featured-dataset
      %a{ href: "#{Rails.application.config.relative_url_root}/datasets/39b28d86-48a8-4dd9-aab6-ee6e321651ce" }
        %img.img-responsive{ src: image_path('datasets/information-register.jpg')}
      %h2
        %a{href: "#{Rails.application.config.relative_url_root}/datasets/39b28d86-48a8-4dd9-aab6-ee6e321651ce"}
          Information Asset Register
      %p
        Our information asset list

.col-wrap
  .col
    %h2.u-title-font Data catalog
