<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DataCatalogueBrowser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/page_header' %>
    <%= yield %>
    <%= render partial: 'shared/page_footer' %>
  </body>
</html>
