<!DOCTYPE html>
<html lang="en">
  <head>
    <% if @view_state && @view_state.respond_to?(:dataset) && @view_state.dataset %>
      <title><%= @view_state.dataset.title %></title>
      <meta name="description" content="<%= @view_state.dataset.description %>">
      <meta name="keywords" content="<%= @view_state.dataset.keywords.join(' ') %>">
    <% elsif @view_state && @view_state.respond_to?(:page_title) && @view_state.page_title %>
      <title><%= @view_state.page_title %></title>
    <% else %>
      <title>FSA Data Catalog Browser</title>
    <% end %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Food Standards Agency">
    <meta name='google-site-verification' content='QKdwbKx5K9wx94C9VRt1d5n4EH22aI7MVGUfA1w8raE' />

    <%= render partial: 'shared/gtm_script' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= render 'application/favicon' %>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap&family=Fira+Sans&family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body class="theme--data">
    <%= render partial: 'shared/global_cookie_message' %>
    <%= render partial: 'shared/skip_link' %>
    <div class="site js-site">
      <%= render partial: 'shared/gtm_noscript' %>
      <%= render partial: 'shared/page_header' %>
      <%= yield %>
      <%= render partial: 'shared/feedback_footer'%>
      <%= render partial: 'shared/page_footer' %>
      </div>
    </div>
  </body>
</html>
