<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DataCatalogueBrowser</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render partial: 'shared/gtm_script' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/gtm_noscript' %>
    <%= render partial: 'shared/page_header' %>
    <%= render partial: 'shared/phase_header' %>
    <main id="main" class="wrapper content" role="main">
      <%= render partial: 'shared/highlighted_datasets' if @view_state.show_highlighted? %>
      <%= yield %>
    </main>
    <%= render partial: 'shared/page_footer' %>
  </body>
</html>
